.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    padding-bottom: 10px;
    padding-top: 10px;
}
.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar{
    display: flex;
    align-items: baseline;
}